<!doctype html>
<html lang="en">
    <title>{{ current_page_title }}</title>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div class="image" style="background-image: url({{ current_image_url }});">
            <div class="nav" title="Previous Image" onclick="window.location.href='{{ previous_page }}';"></div>
            <div class="nav" title="Next Image" onclick="window.location.href='{{ next_page }}';"></div>
        </div>
    </body>
</html>