<!doctype html>
<html lang="en">
    <title>{{ current_page_title }}</title>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <p><a href="{{ previous_page }}">Previous page<i class="left-arrow"></i></a></p>
        <img src="{{ current_image_url }}" />
        <p><a href="{{ next_page }}"><span>Next page</span><i class="right-arrow"></i></a></p>

        <div class= "nav-overlay">
            <div class="nav left" title="Previous Image" onclick="window.location.href='{{ previous_page }}';"></div>
            <div class="nav right" title="Next Image" onclick="window.location.href='{{ next_page }}';"></div>
        </div>
    </body>
</html>