html, body {
    height: 100%;
    width: auto;
    margin: 0;
}
img {
    max-width: 100%;
    height:100%;
    position:absolute;
}
.nav-overlay {
    display:flex;
    height: 100%;
    width: 100%;
    position: absolute
}
.nav {
    width: 50%;
    height: 100%;
}
.nav:hover {
    cursor: pointer;
}
